<?xml version="1.0" encoding="UTF-8"?>

<config>
    <modules>
        <Li_Productcreatedaction>
            <version>0.0.1</version>
        </Li_Productcreatedaction>
    </modules>
    <!--<global>-->
    <!--<blocks>-->
    <!--<productcreatedaction>-->
    <!--<class>Li_Productcreatedaction_Block</class>-->
    <!--</productcreatedaction>-->
    <!--</blocks>-->
    <!--<helpers>-->
    <!--<productcreatedaction>-->
    <!--<class>Li_Productcreatedaction_Helper</class>-->
    <!--</productcreatedaction>-->
    <!--</helpers>-->
    <!--</global>-->
    <crontab>
        <jobs>
            <productcreatedaction_refresh_cache>
                <schedule><cron_expr>* * * * *</cron_expr></schedule>
                <run>
                    <model>productcreatedaction/observer::refreshCache</model>
                </run>
            </productcreatedaction_refresh_cache>
        </jobs>
    </crontab>
</config>