<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Li_Aftercreatednewproduct>
            <version>0.0.1</version>
        </Li_Aftercreatednewproduct>
    </modules>
    <global>
        <blocks>
            <aftercreatednewproduct>
                <class>Li_Aftercreatednewproduct_Block</class>
            </aftercreatednewproduct>
        </blocks>
        <helpers>
            <aftercreatednewproduct>
                <class>Li_Aftercreatednewproduct_Helper</class>
            </aftercreatednewproduct>
        </helpers>
        <models>
            <aftercreatednewproduct>
                <class>Li_Aftercreatednewproduct_Model</class>
            </aftercreatednewproduct>
        </models>
        <events>
            <aftercreatednewproduct_register_visit>
                <observers>
                    <register_visit>
                        <type>singleton</type>
                        <class>aftercreatednewproduct/observer</class>
                        <method>registerVisit</method>
                    </register_visit>
                </observers>
            </aftercreatednewproduct_register_visit>
            <catalog_product_save_after>
                <observers>
                    <catalog_product_save_custom_callapi>
                        <class>aftercreatednewproduct/observer</class>
                        <method>savedProductCustomCallapi</method>
                    </catalog_product_save_custom_callapi>
                </observers>
            </catalog_product_save_after>
        </events>
    </global>
    <frontend>
        <routers>
            <aftercreatednewproduct>
                <use>standard</use>
                <args>
                    <module>Li_Aftercreatednewproduct</module>
                    <frontName>aftercreatednewproduct</frontName>
                </args>
            </aftercreatednewproduct>
        </routers>
        <layout>
            <updates>
                <aftercreatednewproduct>
                    <file>aftercreatednewproduct.xml</file>
                </aftercreatednewproduct>
            </updates>
        </layout>
    </frontend>
</config>